
body{
    font-family: 'Sen', sans-serif;
    margin: 0%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.2fr 4fr 0.2fr;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";

}


header{
    grid-area: header;
}


.logo {
    margin-left: 3em;
    height: 100px;
    width: 200px;
}


section{
    float: right;
}


.account{
    display: flex;
    color: white;
    background-color: red;
    border: 1.5px solid rgb(255, 0, 0);
    border-radius: 2em;
    margin-top: 0.5em;
}


.loguit{
    display: flex;
    color: white;
    background-color:red;
    border: 1.5px solid white;
    border-radius: 2em;
    margin-right: 2em;
    margin-top: 2em;


}


.pages{
    grid-area: header;
    padding-top: 6.5em;

}


.list{
    display:block;
    font-size: 20px;
    padding: 8px;
    text-decoration: none;
    color: black;
    
}


ul{
    list-style-type: none;
}



li{
    float: left;
}


li a:hover{
    color: rgb(255, 0, 0);
    transition: 0.5s ease;

}

.links{
    text-decoration: none;
    color: black;
}

main{
    display: flex;
    flex-direction:column ;
    flex-wrap: wrap;
    grid-area: main;
}


p {
    padding-top: 0.5em;
}



.titelaan {
    margin-left: 6em;
    margin-top: 0;
    padding-top: 1em;
    font-size: 25px;
    color: rgb(0, 0, 0);
}


.slider {
    width: 26em;
    height: 200px;
    position: relative;
    margin: 2em;
    overflow-x: scroll;
    overflow-y: hidden;
}


.slider::-webkit-scrollbar {
    display: none;
}


.slider .slide {
    display: flex;
    position: absolute;
    left: 0;
    transition: 0.3s left ease-in-out;
}


.slider .item {
    margin-right: 1em;
    height: 10em;
}


.slider .item:hover{
    height: 12em;
}


.ctrl {
    text-align: center;
    margin-top: 5px;
}


.ctrl-btn {
    padding: 20px 20px;
    min-width: 50px;
    background-color: rgba(227, 227, 227, 0.671);
    border: none;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%;
    margin-top: -27.5px;
}



.ctrl-btn.pro-prev {
    left: 0;
}


.ctrl-btn.pro-next {
    right: 0;
}

.ctrl-btn:hover{
background-color: rgba(143, 143, 143, 0.377);
}

footer{
    grid-area: footer;
    background-color: black;
}


.mijnboeken{
    height: 10em;
    width: 26em;
    margin-top: 0%;
    margin-left: 2em;
    background-color:lightgrey;
    border-radius: 2em;
    overflow: hidden;
}
.geleendecontainer {

}

.geleendeboeken {

}


.geleendeboek {
content-visibility: hidden;

}

.inleverdatum {
content-visibility: hidden;
}


.text {
    align-content: center;
    text-align: center;
    margin-top: 2em;
    font-size: 25px;

}

.boekreservering{
    height: 10em;
    width: 26em;
    margin-top: 1em;
    margin-left: 2em;
    background-color: lightgrey;
    border-radius: 2em;
}

.e-books {
    height: 10em;
    width: 26em;
    margin-top: 1em;
    margin-bottom: 0em;
    margin-left: 2em;
    background-color: lightgrey;
    border-radius: 2em;

}

.geschiedenis{
    height: 10em;
    width: 26em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    background-color: lightgrey;
    border-radius: 2em;

}


/* medium scherm */
@media screen and (min-width: 600px) {
 
header{
    grid-area: header;
    


}
 main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: main;
 }

 .titelaan {
     margin-left: 22em;
     margin-top: 0;
     font-size: 25px;
     color: rgb(0, 0, 0);
 }

 .slider {
     width: 75em;
     height: 200px;
     position: relative;
     margin: 2em;
     overflow-x: scroll;
     overflow-y: hidden;
 }


 .mijnboeken {
     height: 22em;
     width: 45em;
     margin-top: 0%;
 }


 .geleendeboek {
     content-visibility: visible;

 }

 .inleverdatum {
     content-visibility: visible;
 }


 .boekreservering {
     height: 22.2em;
     width: 26em;
     margin-top: 0%;
     margin-left: 2em;
     border-radius: 3em;
 }

 .e-books {
     height: 5em;
     width: 26em;
     margin-top: 1em;
     margin-bottom: 1em;
     margin-left: 2em;
     border-radius: 3em;
 }
 
 .geschiedenis {
     height: 5em;
     width: 26em;
     margin-top: 1em;
     margin-bottom: 1em;
     margin-left: 2em;
     background-color: lightgrey;
     border-radius: 3em;

 }

 .geleendecontainer {
     height: 20em;
     width: 42em;
     margin-top: 0%;
     display: flex;
     flex-direction: row;
 }

 .geleendeboeken {
     height: 15em;
     width: 10em;
     margin-left: 1em;

 }

 .geleendeboek {
     height: 14em;
     width: 8em;
     margin-left: 1em;
 }

 .inleverdatum {
     font-size: 16px;
     margin-left: 1em;
     margin-top: 0%;
    
 }

 .text {
     text-align: start;
     margin-top: 0%;
     margin-left: 2em;
     font-size: 25px;
     color: rgb(0, 0, 0);
 }
}


/* groot scherm */
@media screen and (min-width: 1400px){

.geleendeboek {
        content-visibility: visible;

    }

    .inleverdatum {
        content-visibility: visible;
    }
    
.boekreservering {
     height: 22.2em;
     width: 26em;
     margin-top: 1em;
     margin-left: 2em;
     border-radius: 2em;
     overflow: hidden;

}

 .slider {
     width: 82em;
     height: 200px;
     position: relative;
     margin: 2em;
     overflow-x: scroll;
     overflow-y: hidden;
 }
 .e-books {
     height: 10em;
     width: 26em;
     margin-top: 1em;
     margin-left: 2em;
     border-radius: 2em;
 }

 .geschiedenis {
     height: 10em;
     width: 26em;
     margin-top: 1em;
     margin-bottom: 1em;
     margin-left: 2em;
     border-radius: 2em;
 }

}
/*big big screen*/
@media screen and (min-width: 1400px){
    
 .slider {
    width: 100em;
    height: 200px;
    position: relative;
    margin: 2em;
    overflow-x: scroll;
    overflow-y: hidden;
}
.e-books {
    height: 22.2em;
    width: 26em;
    margin-top: 1em;
    margin-left: 2em;
    border-radius: 2em;
}

.geschiedenis {
    height: 10em;
    width: 26em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    border-radius: 2em;
}
}